
//@import '../../../../pages/App';
@import "../../../../styles/theme/theme";
@import "../../../../styles/include-media";

.nav-links {
	padding-top: 5rem;
	@include media("<=phone") {
		padding-top: 0;
	}
	gap: 1rem;
	display: flex;
	flex-direction: column;
	align-items: flex-end;

	.nav-item {
		display: flex;
		flex-direction: row;
		align-content: center;
		margin: 1rem 0;
		gap: 2rem;

		@include themed() {
			color: t('bg');
		}

		.active {
			text-decoration: underline;
			@include themed() {
				color: t('text-sidenav');
			}
		}
	}
}
