@import "../theme/theme";
@import "../include-media";

a.underline-hover {
	@include themed() {
		color: t('text');
	}
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 0.1rem;

	display: inline-block;
	padding: 1rem 2rem;
	border-radius: 4px;
	position: relative;

	* {
		transition: font-weight, letter-spacing 0.1s ease;
	}

	&.active {
		&:after {
			right: 0;
			width: 100%;
			@include themed() {
				background: t('text');
			}
		}
		* {
			font-weight: bold;
			@include media(">desktop") {
				letter-spacing: 0.3rem;
			}
		}
	}
}

a.underline-hover:after {
	@include themed() {
		border-bottom: solid 2px t('text');
	}
	bottom: 0;
	content: "";
	display: block;
	height: 0;
	position: relative;
	transition: width 0.3s ease 0s, right 0.3s ease 0s;
	width: 0;
	right: 4rem;
	@include media(">desktop") {
		right: 8rem;
	}
}

a:hover:after {
	width: 100%;
	right: 0;
}
