
@import "../../styles/theme/theme";

.MuiButton-root {

	@include themed() {
		border-color: t('text-primary');
		color: t('text-primary');
	}

	background: transparent;
	transition: 0.2s ease;
	border: solid 1px;
	border-radius: 4px;
	min-width: min-content;
	max-width: max-content;
	padding: 1rem 2rem;
	cursor: pointer;

	&:hover {

		@include themed() {
			background-color: t('text');
			color: t('bg');
		}
	}
}

.LuiButton-back {

	@include themed() {
		border-color: t('bg');
		color: t('bg');
	}
	&:hover {
		@include themed() {
			border-color: t('text');
			color: t('text-sidenav');
		}
	}
}
