
$dark-gray-purple: #2C1C3A;
$light-gray-purple: #CAB3DE;
$dawn:  #C05536;
$dusk:  #6E230D;

$lighter-purple: #D9CAF0;
$light-purple: #A694C6;
$dark-purple: #88459E;
$darker-purple: #1D0D28;

$lighter-green: #287C33;
$light-green: #002100;
$dark-green: #DCEACE;
$darker-green: #4A9C43;

//--colors
