
$dark-gray-purple: #2C1C3A;
$light-gray-purple: #CAB3DE;
$dawn:  #C05536;
$dusk:  #6E230D;

$lighter-purple: #D9CAF0;
$light-purple: #A694C6;
$dark-purple: #88459E;
$darker-purple: #1D0D28;

$lighter-green: #287C33;
$light-green: #002100;
$dark-green: #DCEACE;
$darker-green: #4A9C43;

//--colors

$bg--light: #FFF;
$bg--dark: #000;
$bg--card--light: #dbdbdb;
$bg--card--dark: #000;

$text--imp--light: #242D30;
$text--imp--dark: #E8E4E0;
$text--light: #0a0a0a;
$text--dark: #f1f1f1;
$text--2--light: #F43F5E;
$text--2--dark: #F43F5E;

$bg-gradient-light:  linear-gradient(-75deg, $lighter-purple, $light-purple);
$bg-gradient-dark:  linear-gradient(-75deg, $dark-purple, $darker-purple);
