@import 'theme/theme';
@import 'theme/base';
@import 'include-media';

@import 'effects/wipe';
@import 'effects/frosted';

@import 'animations';
@import 'colors';
@import 'constants';
@import 'font';
@import 'mixins';
@import 'shapes';

.page-container {
	@include themed() {
		color: t('text');
		background: t('bg');
	}
	animation: gradient 15s ease infinite;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	position: relative;

	.page-container-right {
		@include themed() {
			color: t('text');
		}
		padding: $section-padding;
		position: relative;
		right: 0;
		top: 0;
		z-index: $elev-2;
		width: 100%;
	}
}

.title {
	@include themed() {
		color: t('text');
		border-left: solid 4px t('text');
	}
	font-size: 8rem;
	padding-left: 1rem;
}
