@import 'theme/theme';
@import 'base';
@import 'include-media';

@import 'font';
@import 'mixins';

.page {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: flex-start;
	z-index: 1;
	position: relative;
}

.image-container {
	width: 100vw;
	height: 100%;
	position: fixed;
	bottom: 0;
	left: 0;

	@include themed() {
		background-color: t('bg');
	}
}

.image-fullsize {
	background-image: url("../images/home.webp");
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.25;
	width: 100%;
	height: 100%;
	background-position: center;
}

.page-container {
	display: block;
	width: 100%;

	@include media(">desktop") {
		margin-left: $sidenav-width;
	}

	@include themed() {
		color: t('text');
	}
}

.title {
	@include themed() {
		color: t('text');
		border-left: solid 4px t('text');
	}
	font-size: 8rem;
	padding-left: 1rem;
}


.full-image {
	position: relative;
	object-fit: cover;
	height: 100%;
	width: 100%;

	@include media("<=desktop") {
		object-fit: contain;
	}
}
