

//GRADIENTS
//@mixin linear-gradient($from, $to) {
//	background: $to;
//	background: -moz-linear-gradient(top, $from 0%, $to 100%);
//	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $from), color-stop(100%, $to));
//	background: -webkit-linear-gradient(top, $from 0%, $to 100%);
//	background: -o-linear-gradient(top, $from 0%, $to 100%);
//	background: linear-gradient(to bottom, $from 0%, $to 100%);
//	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#{$from}, endColorstr=#{$to})
//}
@mixin radial-gradient($from, $to) {
	background: $to;
	background: -moz-radial-gradient(top, $from 0%, $to 100%);
	background: -webkit-radial-gradient(top, $from 0%, $to 100%);
	background: -o-radial-gradient(top, $from 0%, $to 100%);
	background: radial-gradient(to bottom, $from 0%, $to 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#{$from}, endColorstr=#{$to})
}

//SHADOWS
@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
	@if $inset {
		-webkit-box-shadow: $top $left $blur $color, $inset;
		-moz-box-shadow: $top $left $blur $color, $inset;
		box-shadow: $top $left $blur $color, $inset;
	} @else {
		-webkit-box-shadow: $top $left $blur $color;
		-moz-box-shadow: $top $left $blur $color;
		box-shadow: $top $left $blur $color;
	}
}

@mixin card-shadow {
	@include box-shadow(0, 1px, 3px, rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24));
}

@mixin card-shadow--hover {
	@include box-shadow(0, 14px, 28px, rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22));
}
