

// LUKE NOTE: GARBAGE THESE ARE GARBAGE: MAKE THEM FLEX
.circle {
	width: 4rem;
	height: 4rem;
	border-radius: 100%;

	.fa-solid {
		font-size: 20px;
	}
}

@mixin bubble($radius) {
	border-radius: $radius;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .20), 0 6px 20px 0 rgba(0, 0, 0, .20);
}
