@import "../../../styles/theme/theme";
@import "../../../styles/include-media";

.site-header {
	display: flex;
	justify-content: center;
	padding: 4rem 0;

	@include media("<=desktop") {
		padding: min(2rem, 2vh) 0;
	}
}

.website-title {
	display: flex;
	justify-content: center;
	cursor: pointer;
}

.first-name {
	@include themed() {
		color: t('text');
	}
}

.last-name {
	@include themed() {
		color: t('text-secondary');
	}
}

.mobile-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;

	@include media(">desktop") {
		display: none;
	}
}

.desktop-header {
	@include media("<=desktop") {
		display: none;
	}
}
