@import '../../../../styles/theme/theme';
@import '../../../../App';

.site-header {
	display: flex;
	justify-content: center;
	padding: 4rem 0;
}

.website-title {
	display: flex;
	justify-content: center;
}

.first-name {
	@include themed() {
		color: t('text');
	}
}

.last-name {
	@include themed() {
		color: t('text-sidenav');
	}
}

.mobile-header {
	@include media(">desktop") {
		display: none;
	}
}

.desktop-header {
	@include media("<=desktop") {
		display: none;
	}
}
