@import "../../../../styles/theme/theme";
@import "../../../../styles/include-media";

.site-header {
	display: flex;
	justify-content: center;
	padding: 4rem 0;

	@include media("<=desktop") {
		padding: min(2rem, 2vh) 0;
	}
}

.website-title {
	display: flex;
	justify-content: center;
	padding: 0.5rem 1rem;
	background-color: #00000080;
	backdrop-filter: blur(4px);
	border-radius: 4px;
}

.first-name {
	@include themed() {
		color: t('text');
	}
}

.last-name {
	@include themed() {
		color: t('text-sidenav');
	}
}

.mobile-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;

	@include media(">desktop") {
		display: none;
	}
}

.desktop-header {
	@include media("<=desktop") {
		display: none;
	}
}
