@import 'theme-constants';
@import '../colors';

//shortcuts
$bg: 'bg';
$navbar-bg: 'navbar-bg';
$bg-opacity: 'bg-opacity';
$bg-gradient: 'card-bg-gradient';
$text: 'text';
$text-primary: 'text-primary';
$text-sidenav: 'text-sidenav';
$border: 'border';

$bg--light: #FFF;
$bg--dark: #000;
$bg--light-opacity: #FFFFFF85;
$bg--dark-opacity: #000000F5;

$text--light: #0a0a0a;
$text--dark: #f1f1f1;
$text--sidenav-light: #F43F5E;
$text--sidenav-dark: #F43F5E;
$text--imp--light: #242D30;
$text--imp--dark: #E8E4E0;

$bg-gradient-light:  linear-gradient(-75deg, $lighter-purple, $light-purple);
$bg-gradient-dark:  linear-gradient(-75deg, $dark-purple, $darker-purple);

//themes
$themes: (
		day: (
				bg: $bg--light,
				bg-opacity: rgba($bg--light, 0.2),
				bg-gradient: $bg-gradient-light,
				bg-inverse: $bg--dark,
				bg-inverse-opacity: rgba($bg--dark, 0.5),
				text: $text--light,
				text-primary: $text--imp--light,
				text-sidenav: $text--sidenav-light,
		),
		night: (
				bg: $bg--dark,
				bg-opacity: rgba($bg--dark, 0.5),
				bg-gradient: $bg-gradient-dark,
				bg-inverse: $bg--light,
				bg-inverse-opacity: rgba($bg--light, 0.2),
				text: $text--dark,
				text-primary: $text--imp--dark,
				text-sidenav: $text--sidenav-dark,
		),
);

@mixin themed() {
	@each $theme, $map in $themes {
		.theme--#{$theme} & {
			$theme-map: () !global;
			@each $key, $submap in $map {
				$value: map-get(map-get($themes, $theme), '#{$key}');
				$theme-map: map-merge($theme-map, ($key: $value)) !global;
			}
			@content;
			$theme-map: null !global;
		}
	}
}

@function t($key) {
	@return map-get($theme-map, $key);
}
